[submodule "vendor/dzlib"]
	path = vendor/dzlib
	url = git@github.com:dozeo/dzlib.git
[submodule "vendor/gtest"]
	path = vendor/gtest
	url = git@github.com:dozeo/gtest.git
[submodule "vendor/slog"]
	path = vendor/slog
	url = git@github.com:ksophocleous/slog.git
